/***
** Aglae 4 - Depot MSE
** 04/09/2018
***/
html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 6rem; /* Espace pour le menu fixé */
	margin-bottom: 60px;
}

body>.container {
	padding: 2rem 2rem 5rem;
}

#crous {
	max-height: 5rem;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Hauteur fixée du pied de page */
	height: 3rem;
	line-height: 50px; /* Centrer le texte verticalement */
	background-color: #f5f5f5;
}

.footer>.container {
	padding-right: 15px;
	padding-left: 15px;
}

.progress {
	margin-bottom: 1.5rem;
}

#conditions {
/*	overflow: auto;
 	height: 40rem;  */
}

.btn-form {
	margin-top: 1.5rem;
}

/* Surcharge des boutons primary pour être valide RGAA */
.btn-primary {
    background-color: #146CCD;
    border-color: #146CCD;
}

.btn-primary:hover {
    background-color: #074D98;
    border-color: #074D98;
}

/* Surcharge de la barre de progression pour être valide RGAA */
.progress-bar {
	background-color: #146CCD;
}

.voeu {
	margin-bottom: 1.5rem;
}

.outils-voeu {
	float: right;
}

.suppr {
	color: #EB1806;
}

.outils-voeu>a>.oi {
	margin-left: 15px;
}

.asterisk {
 vertical-align: top;
 float: none;
 font-size: 14px;
/*  color:#ff0000;  */
 font-weight:bold;
}

.bleu {
	color: blue;
}

.info-parents {
	font-style: italic;
	font-size: 0.7em;
}

.exposant {
	vertical-align: super;
    font-size: 0.7em;
}

.souligne {
	text-decoration: underline;
}

.ibanexistant {
	font-style: italic;
}

.oi {
	padding-right: 7px;
}

.separation {
	border-left: 3px solid #cacaca;
	padding-left: 1em!important;
	margin-left: 1em;
}

#tableauFratrie .thead-dark th {
	text-align: center;
	vertical-align: middle;
}

.consigne {
	font-weight: bold;
	font-size: 1em;
}

#entete {
	display: none;
}

.affichage h5{
	padding-top: 1em;
	font-weight: bold;
}

.paiement {
	color: white;
	text-decoration: underline;
	font-weight: bold;
}

.paiement:hover {
	color: #e6e6e6;
}

.btn.btn-primary.imprimer {
	white-space: normal;
}

#terminer{
	font-weight: bold;
	color: red;
	font-size: 1.0em;
}

.important {
	font-weight: bold;
	text-decoration: underline;
}